

body{
  overflow-x: hidden;
}
.navbar{
  background-color: #ececec !important;
}

.main{
  background-color: #ececec !important;
}
.cols{
  display: flex;
  justify-content: center;
  padding: 15px;

}



.cardsImg{
  display: flex;
  justify-content: center;
  padding: 45px;
  width: 100%;
  height: 250px;
}

.mainSmallCards{
  display: flex;
  justify-content: center;
}
.smallCards{
  background-color: white;
  display: flex;
  /* flex-grow: 1; */
      justify-content: center;
      /* gap: 3vw; */
      /* border: 2px solid; */
      padding: 40px;

      .card{
        width: 10rem;
        border-radius: 34px;
        border: none;
      }

      .card-title {
        font-size: 15px !important;
      }
}

.carousel2{
  width: 270px;
}

.p-carousel-item{
  display: flex ;
  justify-content: center;
}

/* @media only screen and (max-width: 600px) {
  .smallCards{
    width: 100%;
    .card{
      width: 2rem !important;
      border-radius: 34px;
      border: none;
     
    }

    
    
  }
  .smallScreen{
    display: none !important;
  }
} */
  @media only screen and (max-width: 600px) {

    .smallCards{
      gap: 5px !important;
      .smallCardBody{
        padding: 0;
        margin-top: 10px;
      }

    }
    .smallScreen{
      display: none !important;
    }
    .small{
      width: 70px !important;
      
      
      
    }


    .cardsImg{
      width: 70%;
    }

    .carousel{
      height: 230px !important;
      img{

        height: 230px !important;
      }
    }
    
  }